:root {
  --primary-color: #6c757d;
  --secondary-color: #505151;
  --default-font-family: ;
}

body {
  margin-top: 35px;
}

h1 {
  font-size: 56px;
}

h3 {
  color: var(--primary-color);
  font-size: 24px;
}

p {
  font-size: 24px;
}

small {
  color: var(--secondary-color);
  font-weight: lighter;
}

.logo {
  max-width: 100px;
}

.header {
  margin-top: 140px;
}

/* image card */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 360px;
  height: 260px;
  margin: 20px;
}

.container .box:hover .imgBox {
  transform: translate(-2.5rem, -2ex);
}

.container .box:hover .content {
  transform: translate(110px, 250px);
}

.imgBox {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
  width: 360px;
  height: 260px;
  object-fit: cover;
  resize: both;
}

/* buttons*/
.button {
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
  display: inline-block;
  padding: 10px 30px;
  position: relative;
  left: 150px;
  text-decoration: none;
}

.button::before,
.button::after {
  content: "";
  width: 15px;
  height: 15px;
  border: inherit;
  position: absolute;
  transition: width 0.25s 0.15s, height 0.25s;
}

.button::before {
  top: -15px;
  left: -15px;
  border-width: 3px 0 0 3px;
}

.button::after {
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after {
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}

/* medium/large viewport */
@media (max-width: 992px) {
  body {
    margin-top: 70px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 24px;
    margin-top: 30px;
  }

  .profile-pic {
    max-width: 100%;
    margin-top: 50px;
  }

  .button {
    position: relative;
    left: 50px;
  }
}

/* mobile viewport */
@media (max-width: 576px) {
  body {
    margin-top: 100px;
    text-align: center;
  }

  h1 {
    font-size: 32px;
  }

  h3 {
    margin-top: 30px;
    font-size: 20px;
  }

  p {
    font-size: 18px;
    margin-top: 40px;
  }

  .about {
    margin-top: 140px;
  }

  .button {
    position: relative;
    left: 0px;
  }
}
