/* monitor (27in) view */
:root {
  --primary-color: #b2bec3;
  --secondary-color: #505151;
  --default-font-family: ;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 24px;
}

small {
  color: var(--secondary-color);
  font-weight: lighter;
}

.header {
  margin-top: 140px;
}

.subtitle-content {
  margin-top: 800px;
}

.primary-content {
  padding: 100px 50px 60px;
}

.secondary-content {
  background: #212529;
  color: white;
  padding-top: 50px;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.card {
  border-style: none;
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}

.logo {
  max-width: 100px;
}

.overlay {
  background: linear-gradient(#212529, #b2bec3);
  position: absolute;
  height: 672px;
  width: 100%;
  top: 0px;
  left: 0px;
}

/* buttons*/
.btn-outline {
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  padding: 15px 30px;
}

.button {
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
  display: inline-block;
  padding: 10px 30px;
  position: relative;
  left: 220px;
  text-decoration: none;
}

.button::before,
.button::after {
  content: "";
  width: 15px;
  height: 15px;
  border: inherit;
  position: absolute;
  transition: width 0.25s 0.15s, height 0.25s;
}

.button::before {
  top: -15px;
  left: -15px;
  border-width: 3px 0 0 3px;
}

.button::after {
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after {
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}

/* xxl viewport */
@media (max-width: 1400px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
    margin-top: 20px;
  }

  .overlay {
    height: 644px;
  }

  .subtitle-content {
    margin-top: 720px;
  }

  .primary-content {
    margin-top: -40px;
  }

  .card-outline {
    margin-top: -20px;
  }

  .secondary-content {
    margin-top: -40px;
  }

  .profile-pic {
    max-width: 100%;
    margin-top: 10px;
  }

  .button {
    position: relative;
    left: 150px;
  }
}

/* xl viewport */
@media (max-width: 1200px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
    margin-top: 20px;
  }

  .overlay {
    height: 560px;
  }

  .subtitle-content {
    margin-top: 640px;
  }
}

/* large device viewport */
@media (max-width: 992px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
    margin-top: 20px;
  }

  .overlay {
    height: 470px;
  }

  .subtitle-content {
    margin-top: 540px;
  }
}

/* medium viewport */
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
    margin-top: 20px;
  }

  .overlay {
    height: 376px;
  }

  .subtitle-content {
    margin-top: 450px;
  }

  .primary-content {
    margin-top: -40px;
  }

  .secondary-content {
    margin-top: -30px;
  }

  .profile-pic {
    max-width: 100%;
    margin-top: 50px;
  }

  .btn-outline {
    margin-top: -30px;
  }

  .button {
    position: relative;
    left: 50px;
  }
}

/* small viewport */
@media (max-width: 576px) {
  h1 {
    font-size: 24px;
    font-weight: normal;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 12px;
  }

  p {
    font-size: 10px;
    margin-top: 15px;
  }

  .overlay {
    height: 293px;
  }

  .subtitle-content {
    margin-top: 330px;
  }

  .primary-content {
    margin-top: -60px;
  }

  .card-outline {
    margin-top: -18px;
  }

  .secondary-content {
    margin-top: -70px;
  }

  .secondary-content-outline {
    margin-top: -20px;
  }

  .profile-pic {
    max-width: 100%;
    margin-top: 50px;
  }

  .btn-outline {
    margin-top: -40px;
    font-size: 12px;
    padding: 10px 20px;
  }

  .button {
    position: relative;
    left: 20px;
    top: -20px;
  }
}
