body {
  margin-top: 35px;
}

h1 {
  font-size: 56px;
}

p {
  font-size: 24px;
}

.logo {
  max-width: 100px;
}

.profile-pic {
  max-width: 80%;
}

.about {
  margin-top: 140px;
}

@media (max-width: 820px) {
  body {
    margin-top: 70px;
  }

  .profile-pic {
    max-width: 100%;
    margin-top: 80px;
  }
}

@media (max-width: 576px) {
  body {
    margin-top: 70px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
    margin-top: 40px;
  }

  .about {
    margin-top: 80px;
    text-align: center;
  }
}
